.catch-text {
    background-image: url(./assets/desktopHeaderBg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    border-bottom-left-radius: 100px;
}

.project-card {
    height: 500px;
}

.contact-form {
    border-top-left-radius: 100px;
    background-image: url(./assets//DesktopContactFormBg.svg);
    background-size: contain;
    height: 650px;
    padding-top: 50px;
}